* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1.6rem;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  font-weight: 300;
  margin: 2rem 0;
}

.errorText {
  font-size: 1.5rem;
  color: #ff2c2c;
  margin-bottom: 1rem;
}

input::placeholder {
  font-family: 'Inter', sans-serif;
}
